
body{
    max-width: 1200px;
    
}
.contenedor1{
    height: 145px;
    background: black;
    padding: 20px;
    margin: 20px;
    display: grid; 
}
.subcontenedor1{
    height: 65px;
    background-color: #2c445c;
    display: grid;
    grid-template-columns: 15% auto 15%;
    margin-bottom: 15px;
    
}

.elemento1, .elemento2{
    background-color: #ec5454  ;
    height: 25px;
    margin: 20px; 
}

.subcontenedor2{
    height: 65px;
    background-color:  #f1984b ;
    display: grid;
 
}
.elemento4{
    background-color: #fcd464 ;
    height: 25px;
    margin: 20px; 
}
.contenedor2{
    height: auto;
    background:black;
    padding:20px;
    margin:20px;
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap:20px;
 
}
.subcontenedor3{
    height: auto;
    background-color: #4c4c6c;
    display: grid;
    grid-template-rows: 30% auto;
    
}
.elemento5{
    background-color: #1c6cb4;
    height: 25px;
    margin: 20px;
}
.elemento6{
    grid-column: 1 /span 2;
    background-color:#74a4c4;
    height: 25px;
    margin: 0px 20px 20px 20px;
  
}
.subcontenedor4{
    height: auto;
    background-color: #f43c54;
    display: grid;
    grid-template-rows: auto; 
}
.elemento7{
    background-color: #fcec84;
    height: 25px;
    margin: 20px;
}
.contenedor3{
    background: black;
    height: auto;
    padding: 20px;
    margin: 20px;
    display: grid;   
} 

.elemento8{
    background-color: #fcd464;
    height: 25px;
    
}

@media (max-width: 1024px) {
    /* Colocar los atributos que cambian solamente de cada elemento
    si algo no cambia, no es necesario repetir codigo*/
    .contenedor2{
        background: #f7e819;
        grid-template-columns: auto;
  
    }
  }
  @media (max-width: 480px) {
    .contenedor1{ 
        height: auto; 
    }
    .subcontenedor1{
        height: auto;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 1fr);
    }
    
    .elemento1, .elemento2{
        background-color: #ec5454;
        margin: 20px;
 
    }

    .subcontenedor2{
        height: auto;
        background-color:  #f1984b;
    }
    .elemento4{
        background-color: #fcd464;
        margin: 20px; 
    }
    .contenedor2{
        height: auto;
        background:#fbe32c;
        grid-template-columns: auto;
    }
    .subcontenedor3{
        height: auto;
        width: auto;
        background-color: #0c546d;
    }
    .elemento5{
        background-color: #64949c;
        width: auto;
   
    }
    .elemento6{
         background-color: #a1d2c1;
         width: auto;
        
    }
    .subcontenedor4{
        height: auto;
        background-color: #f87c4a;
     
    }
    .elemento7{
        background-color: #fcec84;
    }
    .contenedor3{
        height: auto;
    } 
    .elemento8{
        background-color: #fcd464;
    }

  }
  
  

  